body
{
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    display: flex;
    align-content: center;
}

.star{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    align-self: center;
    
}

#cabecera h1{
    font-size:1.2em;
    margin: 0;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
    align-self: center;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20 px;
    align-self: center;
}
#post
{
    padding: 1em;
}